<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/jquery.js"></script>
    <title>Index</title>
</head>
<body ontouchstart>
    <div style="width:100%; height: 7%; background: #1aad19; position: absolute;"></div>

    <form action="." method="post" style="padding-top: 10%;">

        <div class="weui-cells weui-cells_form" >
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">邮箱</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="请输入邮箱" type="email" id="email" required/>
                </div>
            </div>

            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_primary" value="获取验证码" onclick="get_code(this)">获取验证码</button>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="请输入验证码" type="text" id="code">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="请输入姓名（选填）" type="text" id="name">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">性别</label></div>
                <div class="weui-cell__bd">
                    <select id="sex">
                        <option value ="-1">保密</option>
                        <option value ="1">男生</option>
                        <option value="0">女生</option>
                    </select>
                </div>

            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">Ta的邮箱</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="Ta的邮箱" type="email" id="o_email" required/>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">Ta的姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" placeholder="Ta的姓名（选填）" type="text" id="o_name">
                </div>
            </div>

        </div>

        <div class="weui-btn-area">
            <div class="weui-btn weui-btn_primary" value="发送" onclick="submit()">发送</div>
        </div>

    </form>

    <!--BEGIN toast-->
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-info-circle weui-icon_toast"></i>
            <p class="weui-toast__content" id="toast_value">已完成</p>
        </div>
    </div>
    <!--end toast-->

    <div style="margin: auto; margin-top: 5%;">
        	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.邮箱是配对的重要信息，请填写Ta最熟悉的邮箱，最好是QQ邮箱</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.有问题欢迎联系开发者qq：289672494</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.从10月7号开始。每隔30天只能发送一次， 一共不能超过5次</h4>
     </div>

    <script>
        var CODE_BLOCK = 5

        $('input').blur(function(event) {
            event.target.checkValidity();
        }).bind('invalid', function(event) {
            show_toast('格式不正确', 500);
            // setTimeout(function() { $(event.target).focus();}, 50);
        });

        function check_deal_empty_input(selector, desc='') {
            if (selector.val() == '') {
                show_toast(desc);
                selector.focus();
                return true;
            }
            return false;
        }

        function check_input() {
            if (check_deal_empty_input($('#email'), '邮箱不能为空') === true) return false;
            if (check_deal_empty_input($('#o_email'), '邮箱不能为空') === true) return false;
            if (check_deal_empty_input($('#code'), '验证码不能为空') === true) return false;
            return true;
        }

        function submit() {
            if (check_input() === false) return;

            verify_code(function () {
                axios.post('.', {
                    code: $('#code').val(),
                    email: $('#email').val(),
                    name: $('#name').val(),
                    o_email: $('#o_email').val(),
                    o_name: $('#o_name').val(),
                    sex: $('#sex').val(),
                })
                .then(function (response) {
                    if (response.data.hasOwnProperty('code') && response.data.code == CODE_BLOCK) {
                        msg = '距离下次可发送的时间还有' + response.data.block_time + '秒';
                        show_toast(msg, response.data.block_time);
                    } else {
                        deal_response(response, function () {
                            location.href = 'success';
                        }, function () {
                            show_toast('邮件发送失败');
                        });
                    }
                })
                .catch(function (error) {
                    show_toast('发送邮件失败');
                    console.log(error);
                });
            }, function () {
                show_toast('验证失败');
            });
        }

        function deal_response(response, function_success=null, function_fail=null) {
            if (response.data.hasOwnProperty('success') && response.data.success === true && function_success != null) function_success();
            else if (function_fail != null) function_fail();
            else ;
        }

        function get_code(o) {
            if (check_deal_empty_input($('#email'), '邮箱不能为空') === true) return;

            time(o);

            axios.post('get_code', {
                email: $('#email').val(),
            })
            .then(function (response) {
                deal_response(response, function () {
                    show_toast('验证码发送成功');
                }, function () {
                    show_toast('验证码发送失败');
                });
            })
            .catch(function (error) {
                console.log(error);
            });
        }

        function verify_code(callback_func_success=null, callback_func_fail=null) {
            axios.post('verify_code', {
                code: $('#code').val(),
                email: $('#email').val(),
            })
            .then(function (response) {
                deal_response(response, callback_func_success, callback_func_fail);
            })
            .catch(function (error) {
                if (callback_func_fail != null)
                    callback_func_fail();
                console.log(error);
            });
        }

        function show_toast(cont, time=2000) {
            var $toast = $('#toast');
            if ($toast.css('display') != 'none') return;
            $('#toast_value').text(cont)
            $toast.fadeIn(100);
            setTimeout(function () {
                $toast.fadeOut(100);
            }, time);
        }

        var wait=60;
        function time(o) {
            if (wait == 0) {
                o.style.backgroundColor = '#1aad19';
                o.removeAttribute("disabled");
                o.innerHTML="获取验证码";
                wait = 60;
            } else {
                o.setAttribute("disabled", true);
                o.style.backgroundColor = "grey";
                o.innerHTML=wait+"秒后可以重新发送";
                wait--;
                setTimeout(function() {
                    time(o)
                },
                1000)
            }
        }
    </script>
</body>
</html>